.weatherDataCont{
    background: rgba(240, 240, 240,0.5);
    width: 100%;
    height: 100px;
    line-height: 100px;
    border-radius: 8px;
}

.WeatherExtraInfoCont{
    /*background: red; */
    width: 40%;
    display: inline-block;
    line-height: 25px;
    text-align: left;
}

.WeatherTemperatureCont{
    /*background: rgb(219, 45, 88);*/
    width: 60%;
    display: inline-block;
}

.temperature{
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: rgb(0, 68, 255);
}

.temperaturetype{
    padding-left:5px; 
    font-weight: bold;
    color: rgb(49, 95, 221);
}
.extrainfotext{
    display: block;
    color: #2341c7;
    font-size:18px;
    font-weight: bold;
}
.wicon{
    color:  rgba(236, 151, 39, 0.671);
}
