.weatherDataCont{
    background:rgba(200, 200, 200, 0.5);
    width: 400px;
    height: 100px;
    line-height: 100px;
    border-radius: 5px; 
    margin: 15px;
}

.weatherDataTemperatureCont{
    /*background: yellow;*/
    width: 60%;
    display: inline-block;
}

.temperature{
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
    color: #333;
}

.wicon{
    color: rgb(243, 129, 36);
}

.temperaturetype{
    font-weight: bold;
    color: #666;
}

.weatherDataExtraInfoCont{
  /*  background: red;*/
    width: 40%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
}


.extraInfoText{
    display: block;
    color: rgb(69, 63, 150);
    font-size: 18px;
    font-weight: bold;
}